@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    var currentPage = Accessor.HttpContext!.Request.Path.Value;
}

<div class="sidenav">
    <a class="@(currentPage!.StartsWith("/schools") ? "active" : "")" asp-page="/Schools/List" style="border-top: 1px solid black">Schools</a>
    <a class="@(currentPage.StartsWith("/floors") ? "active" : "")" asp-page="/Floors/List">Floors</a>
    <a class="@(currentPage.StartsWith("/rooms") ? "active" : "")" asp-page="/Rooms/List">Rooms</a>
    <a class="@(currentPage.StartsWith("/employees") ? "active" : "")" asp-page="/Employees/List">Employees</a>
    <a class="@(currentPage.StartsWith("/positions/full") ? "active" : "")" asp-page="/Positions/AllPositions">All Positions</a>
    <a class="@(currentPage.StartsWith("/positions/school") ? "active" : "")" asp-page="/Positions/SchoolPositions">School Positions</a>
    <a class="@(currentPage.StartsWith("/students") ? "active" : "")" asp-page="/Students/List">Students</a>
</div>