@page "/students/{id}"
@model DetailsModel

<table>
    <tr>
        <td>Name: </td>
        <td>@Model.Student!.FirstName</td>
    </tr>
    <tr>
        <td>Surname: </td>
        <td>@Model.Student!.LastName</td>
    </tr>
    <tr>
        <td>Age: </td>
        <td>@Model.Student.Age</td>
    </tr>
    <tr>
        <td>Group: </td>
        <td>@Model.Student.Group</td>
    </tr>
</table>
<div><a asp-page="Edit" asp-route-id="@Model.Student.Id">Edit</a></div>