@page "/students"
@model ListModel

<link rel="stylesheet" href="~/css/list.css" />

<partial name="Sidebar" />

<div class="wrapper">
    @if (!Model.Students!.Any())
    {
        <div class="empty">List of students if empty</div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        <a asp-route-orderBy="firstName">First name</a>
                    </th>
                    <th>
                        <a asp-route-orderBy="lastName">Last name</a>
                    </th>
                    <th>
                        <a asp-route-orderBy="age">Age</a>
                    </th>
                    <th class="group-column">
                        <a asp-route-orderBy="group">Group</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Students!)
                {
                    <tr>
                        <td class="first-columns">@student.FirstName</td>
                        <td class="first-columns">@student.LastName</td>
                        <td class="age-column">@student.Age</td>
                        <td class="group-column">@student.Group</td>
                        <td>
                            <div class="btns">
                                <div class="details">
                                    <a href="students/@student.Id/edit">Edit</a>
                                </div>
                                <form class="delete" asp-page-handler="Delete" method="post" asp-route-id="@student.Id"
                              onclick="return confirm('Are you sure you want to delete student @student.FirstName @student.LastName?')">
                                    <input type="submit" value="Delete" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="add"><a asp-page="Add">Add</a></div>
</div>
