@page "/students"
@model SchoolManagement.Web.Pages.Students.ListModel
@{
    if(!Model.Students!.Any())
    {
        <h2>List of students is empty</h2>
    }
}

<partial name="Sidebar" />

<table>
    @foreach(var student in Model.Students!)
    {
        <tr>
            <td><a asp-page="Details" asp-route-id="@student.Id">@student.FirstName @student.LastName</a></td>
            <td>@student.Group</td>
            <td>
                <form asp-page-handler="Delete" method="post" asp-route-id="@student.Id" 
                onclick="return confirm('Are you sure you want to delete Student @student.FirstName @student.LastName?')">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
<div><a asp-page="Add">Add</a></div>