@page "/students"
@model ListModel
@{
    ViewData["Title"] = "Students";
}
@section styles
{
    <link rel="stylesheet" href="~/css/list.css" />
}

<div class="wrapper">
    <form method="get" asp-page="List" asp-all-route-data="Model.FilterParams" class="filter">
        <label asp-for="FilterByName" class="cell">Name: 
            <input asp-for="FilterByName" maxlength="50" />
        </label>
        <label asp-for="FilterByAge" class="cell">Age: 
            <input asp-for="FilterByAge" value="none" min="5" max="18"/>
        </label>
        <label asp-for="FilterByGroup" class="cell">Group: 
            <input asp-for="FilterByGroup" class="group" maxlength="50" />
        </label>
        <partial name="FilterButtons" />
        <input type="hidden" asp-for="OrderBy" />
    </form>
    @if (!Model.StudentsDto!.Any())
    {
        <div class="empty">@Model.Message</div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        <a asp-all-route-data="Model.FirstNameParams">
                            First name
                        </a>
                    </th>
                    <th>
                        <a asp-all-route-data="Model.LastNameParams">
                            Last name
                        </a>
                    </th>
                    <th>
                        <a asp-all-route-data="Model.AgeParams">
                            Age
                        </a>
                    </th>
                    <th class="group-column">
                        <a asp-all-route-data="Model.GroupParams">
                            Group
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.StudentsDto!)
                {
                    <tr>
                        <td class="first-columns">@student.FirstName</td>
                        <td class="first-columns">@student.LastName</td>
                        <td class="age-column">@student.Age</td>
                        <td class="group-column">@student.Group</td>
                        <td>
                            <div class="btns">
                                <a asp-page="Edit" asp-route-id="@student.Id" class="btn btn-edit">Edit</a>
                                <form class="delete" asp-page-handler="Delete" method="post" asp-route-id="@student.Id"
                                onclick="return confirm('Are you sure you want to delete student @student.FirstName @student.LastName?')">
                                    <button type="submit" class="btn btn-delete">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>