@page "/employees/add"
@model AddModel
@{
    ViewData["Title"] = "Add employee";
}
@section styles
{
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" asp-append-version="true"/>  
}

<div class="wrapper">
    <form method="post" class="form">
        <table>
            <tr>
                <td>
                    <label asp-for="EmployeeDto.FirstName">
                        First name
                    </label>
                </td>
                <td>
                    <input asp-for="EmployeeDto.FirstName" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="EmployeeDto.LastName">
                        Last Name
                    </label>
                </td>
                <td>
                    <input asp-for="EmployeeDto.LastName" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="EmployeeDto.Age">
                        Age
                    </label>
                </td>
                <td>
                    <input asp-for="EmployeeDto.Age" required/>
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    @foreach(var position in Model.PositionsDto!)
                    {
                        if(Model.CheckedPositionsId is not null && Model.CheckedPositionsId!.Contains(position.Id))
                        {
                            <input type="checkbox" name="checkedPositionsId" value="@position.Id" class="btn-check" id="@position.Id" checked />
                        }
                        else
                        {
                            <input type="checkbox" name="checkedPositionsId" value="@position.Id" class="btn-check" id="@position.Id" />
                        }
                        <label for="@position.Id" class="btn btn-outline-secondary">
                            @position.Name
                        </label>
                    }
                </td>
            </tr>
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <button type="submit" class="btn btn-save btn-lg">Add employee</button>
            <a asp-page="List" class="btn btn-cancel btn-lg">Cancel</a>
        </div>
    </form>
</div>