@page "/employees/add"
@model AddEmployeeModel
@{
    ViewData["Title"] = "Add employee";
}
@section styles
    {
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
}

<div asp-validation-summary="ModelOnly"></div>
<form method="post" class="form">
    <table>
        <tr>
            <td>
                <label asp-for="EmployeeDto.FirstName">
                    First name
                </label>
            </td>
            <td>
                <input asp-for="EmployeeDto.FirstName" required />
                <span asp-validation-for="EmployeeDto.FirstName" class="error"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="EmployeeDto.LastName">
                    Last Name
                </label>
            </td>
            <td>
                <input asp-for="EmployeeDto.LastName" required />
                <span asp-validation-for="EmployeeDto.LastName" class="error"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="EmployeeDto.Age">
                    Age
                </label>
            </td>
            <td>
                <input asp-for="EmployeeDto.Age" required />
                <span asp-validation-for="EmployeeDto.Age" class="error"></span>
            </td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                @foreach (var position in Model.PositionDtos!)
                {
                    if (Model.CheckedPositionsId is not null && Model.CheckedPositionsId!.Contains(position.Id))
                    {
                        <input type="checkbox" name="checkedPositionsId" value="@position.Id" class="btn-check" id="@position.Id" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="checkedPositionsId" value="@position.Id" class="btn-check" id="@position.Id" />
                    }
                    <label for="@position.Id" class="btn btn-outline-secondary">
                        @position.Name
                    </label>
                }
                <div class="error">@Model.InValidPositionMessage</div>
            </td>
        </tr>
    </table>
    <div class="error">@Model.ErrorMessage</div>
    <div class="btns">
        <button type="submit" class="btn btn-save btn-lg">Add employee</button>
        <a asp-page="List" class="btn btn-cancel btn-lg">Cancel</a>
    </div>
</form>