@page "/employees/{id}"
@model DetailsModel

@section styles
    {
        <link rel="stylesheet"  href="~/css/details.css" />
}

<div class="wrapper">
    <div class="details">
        <table>
            <tr>
                <td>Name: </td>
                <td>@Model.Employee!.FirstName</td>
            </tr>
            <tr>
                <td>Surname: </td>
                <td>@Model.Employee!.LastName</td>
            </tr>
            <tr>
                <td>Age: </td>
                <td>@Model.Employee!.Age</td>
            </tr>
            <tr>
                <td>Type: </td>
                <td>@Model.Employee.Position</td>
            </tr>
        </table>
        <div class="btns">
            <div class="button edit">
                <a asp-page="Edit" asp-route-id="@Model.Employee.Id">Edit</a>
            </div>
            <div class="button cancel">
                <a asp-page="List">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div><a asp-page="Edit" asp-route-id="@Model.Employee.Id">Edit</a></div>