@page "/employees/{id}/edit"
@model EditModel

@section styles
{
    <link rel="stylesheet" href="~/css/edit.css" />
}

<div class="wrapper">
    <form method="post" class="edit">
        <div asp-validation-summary="All" />
        <table>
            <tr>
                <td>
                    <label asp-for="EmployeeDto.FirstName">
                        First name
                    </label>
                </td>
                <td>
                    <input asp-for="EmployeeDto.FirstName" />
                    <span asp-validation-for="EmployeeDto.FirstName" class="error" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="EmployeeDto.LastName">
                        Last name
                    </label>
                </td>
                <td>
                    <input asp-for="EmployeeDto.LastName" />
                    <span asp-validation-for="EmployeeDto.LastName" class="error" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="EmployeeDto.Age">
                        Age
                    </label>
                </td>
                <td>
                    <input asp-for="EmployeeDto.Age" type="number" />
                    <span asp-validation-for="EmployeeDto.Age" class="error" />
                </td>
            </tr>
                <tr>
                    <td>Position: </td>
                    <td>
                        @foreach (var position in Model.PositionsDto!)
                        {
                            if (Model.EmployeeDto.Positions.Any(p => p.Id == position.Id))
                            {
                                <input type="checkbox" name="checkedPositionsId" id="@position.Id" value="@position.Id" class="btn-check" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="checkedPositionsId" id="@position.Id" value="@position.Id" class="btn-check" />
                            }
                            <label for="@position.Id" class="btn btn-outline-secondary">
                                @position.Name
                            </label>
                        }
                    </td>
                </tr>
@*            }*@
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <input type="hidden" asp-for="EmployeeDto!.Id" />
        <div class="btns">
            <input class="btn btn-save btn-lg" type="submit" value="Save" />
            <a class="btn btn-cancel btn-lg" asp-page="List">Cancel</a>
        </div>
    </form>
</div>