@page "/employees"
@model ListModel
@{
    ViewData["Title"] = "Employees";
}

<link rel="stylesheet" href="~/css/list.css" />

<partial name="Sidebar" />

<div class="wrapper">
        <form method="get" asp-page="List" asp-all-route-data="Model.FilterParams" class="filter">
        <div class="content">
            <label asp-for="FilterByName">
                Name: 
                <input asp-for="FilterByName" />
            </label>
            <label asp-for="FilterByAge">
                Age: 
                <input asp-for="FilterByAge"/>
            </label>
            <label asp-for="FilterByPosition">
                Job: 
                <input asp-for="FilterByPosition" />
            </label>
            <input type="hidden" asp-for="OrderBy" />
            <input class="filter-btn" type="submit" value="Search" />
            <div class="filter-btn">
                <a asp-page="/Employees/List">Back to full list</a>
            </div>
            <div class="filter-btn add"><a asp-page="Add">Add</a></div>
        </div>
    </form>
    @if (!Model.Employees.Any())
    {
    <div class="empty">List of employees is empty</div>
    }
    else
    {
        <table class="tab">
            <thead>
                <tr>
                    <th>
                        <a asp-all-route-data="Model.FirstNameParams">
                            First name
                        </a>
                    </th>
                    <th>
                        <a asp-all-route-data="Model.LastNameParams">
                            Last name
                        </a>
                    </th>
                    <th>
                        <a asp-all-route-data="Model.LastNameParams">
                            Age
                        </a>
                    </th>
                    <th class="job-column">
                        <a asp-all-route-data="Model.PositionParams">
                            Position
                        </a>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td class="first-columns">@emp.FirstName</td>
                        <td class="first-columns">@emp.LastName</td>
                        <td class="age-column">@emp.Age</td>
                        <td class="job-column">@emp.Position.Name</td>
                        <td>
                            <div class="btns">
                                <div class="button details">
                                    <a href="employees/@emp.Id/edit">Edit</a>
                                </div>
                                <form asp-page-handler="Delete" method="post" asp-route-id="@emp.Id"
                                  onclick="return confirm('Are you sure you want to delete employee @emp.FirstName @emp.LastName?')">
                                    <div class="button delete">
                                        <button type="submit">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>