@page "/employees"
@model ListModel

<link rel="stylesheet" href="~/css/list.css" />

<partial name="Sidebar" />

<div class="wrapper">
    @if (!Model.Employees.Any())
    {
    <div class="empty">List of employees is empty</div>
    }
    else
    {
    <table>
        <thead>
            <tr>
                <th>
                    <a asp-route-orderBy="firstName">First name</a>
                </th>
                <th>
                    <a asp-route-orderBy="lastName">Last name</a>
                </th>
                <th>
                    <a asp-route-orderBy="age">Age</a>
                </th>
                <th class="job-column">Job</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <td class="first-columns">@emp.FirstName</td>
                    <td class="first-columns">@emp.LastName</td>
                    <td class="age-column">@emp.Age</td>
                    <td class="job-column">@emp.Job</td>
                    <td>
                        <div class="btns">
                            <div class="details">
                                <a href="employees/@emp.Id/edit">Edit</a>
                            </div>
                            <form class="delete" asp-page-handler="Delete" method="post" asp-route-id="@emp.Id"
                              onclick="return confirm('Are you sure you want to delete employee @emp.FirstName @emp.LastName?')">
                                <input type="submit" value="Delete" />
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    <div class="add"><a asp-page="Add">Add</a></div>
</div>