@page "/school/{id}"
@model school.Web.Pages.CurrentSchoolModel
@{
}

<ul>
    <li><a asp-page="Info" asp-route-id="@Model.Id">Show information</a></li>
    <li><a asp-page="FloorForm" asp-route-id="@Model.Id">Add Floor</a></li>
    <li><a asp-page="RoomForm" asp-route-id="@Model.Id">Add Room</a></li>
    <li><a asp-page="EmployeeForm" asp-route-id="@Model.Id">Add Employee</a></li>
    <li><a asp-page="StudentForm" asp-route-id="@Model.Id">Add Student</a></li>
</ul>