@page "/rooms/add"
@using SchoolManagement.Models;
@model AddModel
@{
    ViewData["Title"] = "Add room";
}

@section styles
{
    <link rel="stylesheet" href="~/css/add.css" />
}

<div class="wrapper">
    <form method="post" class="form">
        <table>
            <tr>
                <td>
                    <label asp-for="RoomDto.Number">Number</label>
                </td>
                <td>
                    <input asp-for="RoomDto.Number" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="FloorsDto">Floor</label>
                </td>
                <td>
                    <select asp-for="RoomDto.FloorId" required>
                        @foreach (var floor in Model.FloorsDto!)
                        {
                            <option value="@floor.Id">@floor.Number</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    @foreach (var type in RoomTypeExt.RoomTypes)
                    {
                        <input name="roomTypes[]" type="checkbox" value="@type.Key" class="btn-check" id="@type.Key" />
                        <label for="@type.Key" class="btn btn-outline-secondary">
                            @type.Value
                        </label>
                    }
                </td>
            </tr>
        </table>
        <partial name="FormButtons" />
    </form>
</div>