@page "/rooms/add"
@using SchoolManagement.Models;
@model RoomFormModel

<form method="post">
    <table align="center">
        <tr>
            <td>Number: </td>
            <td>
                <input type="number" required name="roomNumber"/>
            </td>
        </tr>
        <tr>
            <td>Floor: </td>
            <td>
                <select name="floorNumber" required>
                    @foreach (var floor in RoomFormModel.Floors!)
                    {
                        <option value="@floor.Number">@floor.Number</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>
                <details>
                    @foreach (var type in RoomTypeExt.RoomTypes)
                    {
                        <input name="roomTypes[]" type="checkbox" value="@type.Key" />
                        @type.Value
                        <br />
                    }
                </details>
            </td>
        </tr>
    </table>
    <div class="error">@Model.ErrorMessage</div>
    <div align="center">
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
</form>
