@page "/rooms/{id}/edit"
@using SchoolManagement.Models;
@model EditModel
@{
    var floors = Model.Floors!.Select(f => new SelectListItem
    {
        Value = f.Id.ToString(),
        Text = f.Number.ToString()
    });
}

@section styles
{
    <link rel="stylesheet" href="~/css/edit.css" />
}

<partial name="Sidebar" />

<div class="wrapper">
    <form method="post" class="edit">
        <table>
            <tr>
                <td>
                    <label asp-for="Room.Number">Number</label>
                </td>
                <td>
                        <input asp-for="Room.Number" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Room.Floor.Id">Floor</label>
                </td>
                <td>
                    <select asp-for="Room!.Floor.Id" asp-items="floors" required>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    @foreach (var type in RoomTypeExt.RoomTypes)
                    {
                        <input name="roomTypes[]" type="checkbox" value="@type.Key" class="btn-check" checked="@Model.Room!.Type.HasFlag((RoomType)type.Key)" id="@type.Key"/>
                        <label for="@type.Key" class="btn btn-outline-secondary">
                            @type.Value
                        </label>
                    }
                </td>
            </tr>
        </table>
        <input type="hidden" asp-for="Room!.Id" />
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <input class="btn btn-save btn-lg" type="submit" value="Save" />
            <a class="btn btn-cancel btn-lg" asp-page="List">Cancel</a>
        </div>
    </form>
</div>
