@page "/rooms"
@model ListModel
@{
    if(!Model.Rooms!.Any())
    {
        <h2>List of rooms is empty</h2>
    }
}

<link rel="stylesheet" href="~/css/list.css">

<partial name="Sidebar" />
<div class="wrapper">
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th class="second-column">Type</th>
                <th class="floor-column">Floor</th>
                <th></th>
            </tr>
        </thead>
        @foreach(var room in Model.Rooms!)
        {
            <tr>
                <td class="first-column">@room.Number</td>
                <td class="second-column">@room.Type</td>
                <td class="floor-column">@room.Floor.Number</td>
                <td>
                    <div class="btns">
                        <div class="details">
                            <a href="rooms/@room.Id/edit">Edit</a>
                        </div>
                        <form class="delete" asp-page-handler="Delete" method="post" asp-route-id="@room.Id" 
                        onclick="return confirm('Are you sure you want to delete room @room.Number?')">
                            <input type="submit" value="Delete" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
    <div class="add"><a asp-page="Add">Add</a></div>
</div>
