@page "/floors"
@model FloorListModel
@{
    if(!Model.Floors!.Any())
    {
    <h2>List of floors is empty</h2>
    }
}

<partial name="Sidebar" />

<table align="center">
    @foreach(var floor in Model.Floors!.Reverse())
    {
        <tr>
            <td><a asp-page="Details" asp-route-id="@floor.Id">
                @if(floor.Number < 1)
                {
                    floor.Number = -floor.Number;
                    @:Basement level @floor.Number
                }
                else
                {
                    @:Floor @floor.Number
                }
            </a></td>
            <td>
                <form asp-page-handler="Delete" method="post" asp-route-id="@floor.Id" 
                    onclick="return confirm('Are you sure you want to delete floor @floor.Number?')">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
<form method="post" align="center">
    <input type="submit" value="Add basement" asp-page-handler="AddBasement" />
    <input type="submit" value="Add floor" asp-page-handler="AddFloor"/>
</form>

<script>
    function confirmDelete() {
        if(confirm('Delete this item?')) {
            
        }
    }
</script>