@page "/schools/{id}"
@model SchoolModel

<link rel="stylesheet" href="~/css/details.css"/>

<partial name="Sidebar" />

<div class="wrapper">
    <div class="details">
        <table class="tab"> 
            <tr>
                <td>Name: </td>
                <td>@Model.School!.Name</td>
            </tr>
            <tr>
                <td>Country: </td>
                <td>@Model.Address!.Country</td>
            </tr>
            <tr>
                <td>City/town: </td>
                <td>@Model.Address.City</td>
            </tr>
            <tr>
                <td>Street: </td>
                <td>@Model.Address.Street</td>
            </tr>
            <tr>
                <td>Postal code: </td>
                <td>@Model.Address.PostalCode</td>
            </tr>
            <tr>
                <td>Opening date: </td>
                <td>@Model.School.OpeningDate.ToShortDateString()</td>
            </tr>
        </table>
        <div class="btns">
            <div class="edit"><a asp-page="Edit" asp-route-id="@Model.School.Id">Edit</a></div>
            <div class="cancel">
                <a asp-page="List">Cancel</a>
            </div>
        </div>
    </div>
</div>