@page "/schools"
@model SchoolListModel
@{
    if(Model.IsError)
    {
        <script>alert('No school selected, please select a school');</script>
    }
    if(!Model.IsFirst)
    {
        <partial name="Sidebar" />;
    }
}

<link rel="stylesheet" href="~/css/table.css"/>

<div class="wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Street</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in SchoolListModel.Schools!)
            {
                <tr class="active">
                    <td class="name">@school.Name</td>
                    <td>
                        <div class="city">
                            @Model.Addresses.Where(a => a.Id == school.AddressId).SingleOrDefault()!.City
                        </div>
                    </td>
                    <td>
                        <div class="street">
                            @Model.Addresses.Where(a => a.Id == school.AddressId).SingleOrDefault()!.Street
                        </div>
                    </td>

                    @if(Model.IsFirst)
                    {
                        <td>
                            <div class="choose">
                                <a asp-page="Details" asp-route-id="@school.Id">Choose</a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="details">
                                <a asp-page="Details" asp-route-id="@school.Id">Details</a>
                            </div>
                        </td>
                        <td class="td">
                            <form class="delete" asp-page-handler="Delete" method="post" asp-route-id="@school.Id" 
                            onclick="return confirm('Are you sure you want to delete school @school.Name?')">
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    }
                </tr>
            }
            @if(!Model.IsFirst)
            {
                <tr class="upper-border">
                    <td class="upper-border" colspan="5">
                        <div class="add">
                            <a asp-page="Add">Add</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@*    <div class="add"><a asp-page="Add">Add</a></div>*@

</div>