@page "/schools"
@model SchoolListModel
@{
    ViewData["Titile"] = "Schools";

    if (Model.IsError)
    {
        <script>alert('No school selected, please select a school');</script>
    }
}

@section styles
{
    <link rel="stylesheet" href="~/css/list.css" />
}


<div class="wrapper">
    <form method="get" asp-page="List" asp-all-route-data="Model.FilterParams" class="filter">
        <ul>
            <li>
                <label asp-for="FilterByParam">
                    Filter: 
                    <input asp-for="FilterByParam" placeholder="Name/City/Street" />
                </label>
            </li>
            <li>
                <input type="submit" value="Search" class="btn btn-success btn-sm" />
            </li>
            <li>
                <a asp-page="/Schools/List" class="btn btn-secondary btn-sm">Back to full list</a>
            </li>
            <li>
                <a asp-page="Add" class="btn btn-secondary btn-sm">Add</a>
            </li>
        </ul>
        <input type="hidden" asp-for="OrderBy" />
    </form>
    @if (!Model.SchoolItems.Any())
    {
        <div class="empty">List of schools if empty</div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        <a asp-all-route-data="@Model.NameParams">Name</a>
                    </th>
                    <th>
                        <a asp-all-route-data="@Model.CityParams">City</a>
                    </th>
                    <th colspan="3">
                        <a asp-all-route-data="@Model.StreetParams">Street</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var school in Model.SchoolItems)
                {
                    <tr>
                        <td>@school.Name</td>
                        <td>
                            <div class="city">
                                @school.City
                            </div>
                        </td>
                        <td>
                            <div class="street">
                                @school.Street
                            </div>
                        </td>
                        <td>
                            <div class="btns">
                                <form method="post">
                                    <div>
                                        <button class="btn btn-choose" asp-route-id="@school.Id" asp-page-handler="SetSchool">Choose</button>
                                    </div>
                                </form>
                                <div>
                                    <a class="btn btn-details" asp-page="Details" asp-route-id="@school.Id">Details</a>
                                </div>
                                <form method="post" asp-page-handler="Delete" asp-route-id="@school.Id"
                                onclick="return confirm('Are you sure you want to delete school @school.Name?')">
                                    <button class="btn btn-delete" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>